body {
  margin-left: auto !important;
  margin-right: auto !important;
}

.logo {
  max-height: 44px !important;
  max-width: 200px !important;
  width: auto !important;
  height: auto !important;
}

.thumbnail_card {
  min-width: 0 !important;
  width: 100%;
  aspect-ratio: 16 / 9;
}
