<script src="{{ "js/remotion-components.js" | relURL }}"></script>
<script>
(function () {
  var base = {{ "" | relURL | jsonify | safeJS }}.replace(/\/$/, '');
  var path = window.location.pathname;
  var map = {};
  map[base + '/components'] = base + '/components/';
  map[base + '/contribute'] = base + '/contribute/';
  Object.keys(map).forEach(function (prefix) {
    if (path.startsWith(prefix)) {
      document.querySelectorAll('a[href="' + map[prefix] + '"]').forEach(function (a) {
        a.style.color = '#6d41dc';
        a.style.fontWeight = '700';
      });
    }
  });
})();
</script>
